.form-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    background-color: rgba(24, 24, 24, 0.7);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form>button {
    /* border: 1px solid #868080; */
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: rgba(104, 215, 248, 0.9);
    font-size: 25px;
    padding: 0%;
}



.form>input {
    height: 36px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}