.todo-list-container {
    /* border: 1px solid #000000; */
    overflow-y: scroll;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    background-color: rgba(24, 24, 24, 0.7);
}

.list-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    background-color: rgba(104, 215, 248, 0.9);
    border-radius: 5px;

}

input[type="checkbox" i] {
    width: 20px;
    /* Change width */
    height: 20px;
    /* Change height */
    border: 2px solid #f51313;
    /* Add a border */
    padding: 10px;
    /* Add internal spacing */
    font-size: 16px;
    /* Change text size */
    color: #ff0000;
    /* Change text color */
    background-color: #ff0000;
    /* Change background color */
    border-radius: 10px;
    /* Round the corners */
}