.heat-map-container {
    /* border: 1px solid #000000; */
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(24, 24, 24, 0.7);
    height: 200px;

}

/* Calendar Heatmap overrides */
.react-calendar-heatmap {
    height: 200px;
}

.react-calendar-heatmap text {
    fill: #117cff;
    font-size: 10px;
}

.react-calendar-heatmap .color-empty {
    fill: #979595;
    border: 1px solid #000000;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #d6e685;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #8cc665;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #44a340;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #1e6823;
}